/* Style for cointaner */
.calculatorContainer {
  width: 450px;
  height: 60%;
  margin-top: 40px;
  padding-bottom: 5px;
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: #574b8d;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
/* style for input box */
.input {
  width: 431px;
  height: 130px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #4c4c4c;
  color: white;
  border-radius: 18px;
  font-size: 50px;
  text-align: right;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  outline: none;
  box-shadow: 1px 5px 5px -1px;
}
/* style for button div */
.btnDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* style for every button */
.calculatorContainer button {
  width: 91px;
  height: 91px;
  font-size: 40px;
  border-radius: 50px;
  margin-top: 10px;
  border: none;
  background-color: #92d9d1;
  cursor: pointer;
  box-shadow: -1px 2px 9px -1px;
}
/* style for active working button */
.calculatorContainer button:active {
  background-color: #374353;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* set size of equal button */
.calculatorContainer .btnEqual {
  width: 182px;
}

/* set color of action button */
.calculatorContainer .btnAction {
  background-color: #051364;
  color: white;
}
